# Large sequencing files
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.bam.bai
*.sam
*.vcf
*.vcf.gz
*.bcf

#PLINK genotype files
*.bed
*.bim
*.fam
*.prune.in
*.prune.out
*.nosex

# Large reference files
*.fa
*.fasta
*.fai
*.gtf
*.gff

# Intermediate outputs
*.tmp
*.temp

# Large tables/matrices
*.h5
*.hdf5

# Python clutter
__pycache__/
*.pyc


# System files
.DS_Store